.u-font-normal {
	font-size: 20px;
	line-height: 26px;
}

.u-font-md {
	font-size: 22px;
	line-height: 34px;
}

.u-font-sm {
	font-size: 18px;
	line-height: 23px;
}

.u-font-style-normal {
	font-style: normal;
}