html {
	font-family: 'PT Serif', -apple-system, 'system-ui', 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	font-size: 62.5%;
	font-style: italic;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

// safari-specific
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: gray;
  opacity: 0.8;
}

body {
	font-size: 16px;
	line-height: 22px;
	overflow-x: hidden;
	color: #cacaca;
  background-color: var(--color-black);

  @media screen and (max-width: 480px) {
		font-size: 15px;
		line-height: 21px;
	}
}