.c-button {
	--size: 60px;
	position: fixed;
	bottom: 80px;
	right: 14.9%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--size);
	height: var(--size);
	border-radius: 100px;
	border: none;
	transition: 1s transform var(--ease-out-expo);
	box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.5);
	text-decoration: none;
	color: var(--color-black);

  &__loader {
    $size: 22px;
    width: $size;
    height: $size;
    border: 2px solid #ffffff90;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.4s linear infinite;

    @keyframes rotation {
      to {
        transform: rotate(360deg);
      }
    } 
  }

	@media screen and (max-width: 480px) {
    --size: 55px;
		right: 30px;
		bottom: 40px;
	}

	&:hover {
		transform: scale(1.1) rotate(360deg);
	}

	&--add {
		font-weight: 500;
		font-size: 30px;
		font-style: normal;
		background-color: var(--color-red);

    @media screen and (max-width: 480px) {
      font-weight: 400;
      font-size: 28px;
    }
	}

	&--next {
		background-color: var(--color-black-light);

    @media screen and (max-width: 480px) {
      svg {
        transform: scale(0.9);
      }
    }
	}
}