.letter {
	display: flex;
	flex-direction: column;

	&__title,
	input {
		background-color: transparent;
		border: none;
		color: inherit;
		outline: none;
	}

	&__body {
		margin-top: 67px;
		width: 100%;
		max-width: 900px;
		background: transparent;
		border: none;
		color: inherit;
		padding: 0;
		min-height: 350px;
		white-space: pre-wrap;
		resize: none;
	}
}